ANTHROPIC_API_KEY=
##WATSONX DATA MCP CONFIG
WATSONX_DATA_BASE_URL=https://us-south.lakehouse.cloud.ibm.com/lakehouse/api/
WATSONX_DATA_API_KEY=
WATSONX_DATA_INSTANCE_ID=
##WATSONX AI CONFIG
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
##LITE LLM service config
WEBUI_ADMIN_EMAIL=admin@ibm.com
WEBUI_ADMIN_PASSWORD=pass123
WEBUI_ADMIN_NAME=Admin
## DI MCP SERVER CONFIG
DI_SERVICE_URL=https://api.dataplatform.cloud.ibm.com
DI_APIKEY=<data intelligence api key>
DI_ENV_MODE=SaaS
LOG_FILE_PATH=/tmp/di-mcp-server-logs
